body {
    background-color: black;
}

form{
    color: white;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 250px;
}

button{
    font-family: 'Nunito';
    border-radius: 15px;
    border: 1px;
    width: 55px;
    height: 35px;
    color: darkolivegreen;
}